<!DOCTYPE HTML>
<html>
<head>
<title>Gestion de documents</title>
<!-- Bootstrap -->
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$("#mytable #checkall").click(function () {
						if ($("#mytable #checkall").is(':checked')) {
								$("#mytable input[type=checkbox]").each(function () {
										$(this).prop("checked", true);
								});

						} else {
								$("#mytable input[type=checkbox]").each(function () {
										$(this).prop("checked", false);
								});
						}
				});

				$("[data-toggle=tooltip]").tooltip();
			});


		</script>

</head>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Gestion de documents</a>
    </div>
    <ul class="nav navbar-nav">
	      <li><a href="index.html">Liste de documents</a></li>
      <li class="active"><a href="#">Ajouter un document</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> 

<body>

	<div class="container">
	<h1>Ajouter un document</h1><br/>
	<div class="row">

        <div class="col-md-3">
        <form>
		 <div class="form-group">
		  <label for="sel1">Type du document:</label>
		  <select class="form-control" id="sel1">
			<option>Document de cours</option>
			<option>Document vacataire</option>
		  </select>
		</div> 
		  <div class="form-group">
			<label for="libelle">Libelle document</label>
			<input type="email" class="form-control" id="libelle" placeholder="Libelle">
		  </div>
		    <div class="form-group">
				<label for="file">Document</label>
				<input type="file" class="form-control-file" id="file">
			</div>
		  <button type="submit" class="btn btn-primary">Ajouter</button>
		</form>
		<br/>

        </div>
	</div>
</div>
</body>
</html>
